release/blog.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arsenal:700&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script src="js/startFunction.min.js"></script>
    <title>Project</title>
  </head>
  <body>
    <div id="preloader-cube">
      <div class="caption">
        <div class="cube-loader">
          <div class="cube loader-1"></div>
          <div class="cube loader-2"></div>
          <div class="cube loader-4"></div>
          <div class="cube loader-3"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="header">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="navigation"><a class="logo" href="#"><img class="lazyload img-fluid" data-src="images/logo.png" alt="logo"></a>
                <ul class="d-none d-lg-flex">
                  <li class="first active"><a href="#">Что вы получите</a></li>
                  <li><a href="#">Сколько стоит</a></li>
                  <li><a href="#">Блог</a></li>
                  <li class="navigation__line"></li>
                </ul>
                <div class="d-none d-lg-flex">
                  <div class="header__phone__wrap"><a class="header__phone" href="tel:89191237781">8 919 123 77 81</a></div>
                  <button class="btn btn_flare btn_border_gradient" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа"><span>Перезвоните мне</span></button>
                </div>
                <button class="btn__menu d-lg-none">
                  <svg class="ham hamRotate ham8" id="burger" viewBox="0 0 100 100" onclick="this.classList.toggle('active')">
                    <path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
                    <path class="line middle" d="m 30,50 h 40"></path>
                    <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
                  </svg>
                </button>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <div class="navigation__content d-flex align-items-center justify-content-center">
        <div class="navigation__wrap">
          <ul class="navigation__menu">
            <li class="navigation__menu__item"><a class="navigation__menu__link" href="#">Что вы получите</a></li>
            <li class="navigation__menu__item"><a class="navigation__menu__link" href="#">Сколько стоит</a></li>
            <li class="navigation__menu__item"><a class="navigation__menu__link" href="#">Блог</a></li>
            <li class="navigation__menu__item navigation__menu__phone"><a class="header__phone" href="tel:89191237781">8 919 123 77 81</a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <div class="deep">
          <div class="blog content_pad_bot">
            <div class="container">
              <div class="row">
                <div class="col-12"><img class="lazyload d-none d-lg-block" data-src="images/blog.png" alt="img">
                  <h1 class="d-block d-lg-none">Блог</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="sort pt-3 pb-5"><span class="pr-2">Сортировать по:</span>
                    <div class="custom__select m-2">
                      <select>
                        <option value="0">   Популярности</option>
                        <option value="1">   Популярности</option>
                        <option value="2">   Цене</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="blog__item mb-5">
                    <div class="row">
                      <div class="col-12 col-lg-6 blog__item__header"><img class="lazyload img-fluid" data-src="images/sdfasdf5.jpg" alt="img"></div>
                      <div class="col-12 col-lg-6 blog__item__content d-flex flex-column justify-content-between">
                        <div>
                          <h2>Название статьи</h2>
                          <p>Квалифицированные специалисты хотят иметь интересную работу, «продвинутое» рабочее место с возможностью профессионального и карьерного роста. </p>
                          <p>Главное, они хотят признания своего профессионализма от тех, кто может это оценить по-настоящему. </p>
                          <p>А бухгалтеру в небольшой компании приходится делать все самому – от обработки первички до сдачи отчетности. А здесь ничего интересного. Он быстро «выгорает» (посоветоваться не с кем, на семинары  денег не выделяют, сервисы не оплачивают).</p>
                        </div><a class="predlojenie__more" href="#"><span class="pr-3">Читать далее</span><img class="lazyload" data-src="images/Arrow.svg" alt="img"></a>
                        <div class="blog__item__date">22 сентября 15:45</div>
                      </div>
                    </div>
                  </div>
                  <div class="blog__item mb-5">
                    <div class="row">
                      <div class="col-12 col-lg-6 blog__item__header"><img class="lazyload img-fluid" data-src="images/sdfasdf5.jpg" alt="img"></div>
                      <div class="col-12 col-lg-6 blog__item__content d-flex flex-column justify-content-between">
                        <div>
                          <h2>Название статьи</h2>
                          <p>Квалифицированные специалисты хотят иметь интересную работу, «продвинутое» рабочее место с возможностью профессионального и карьерного роста. </p>
                          <p>Главное, они хотят признания своего профессионализма от тех, кто может это оценить по-настоящему. </p>
                          <p>А бухгалтеру в небольшой компании приходится делать все самому – от обработки первички до сдачи отчетности. А здесь ничего интересного. Он быстро «выгорает» (посоветоваться не с кем, на семинары  денег не выделяют, сервисы не оплачивают).</p>
                        </div><a class="predlojenie__more" href="#"><span class="pr-3">Читать далее</span><img class="lazyload" data-src="images/Arrow.svg" alt="img"></a>
                        <div class="blog__item__date">22 сентября 15:45</div>
                      </div>
                    </div>
                  </div>
                  <div class="blog__item mb-5">
                    <div class="row">
                      <div class="col-12 col-lg-6 blog__item__header"><img class="lazyload img-fluid" data-src="images/sdfasdf5.jpg" alt="img"></div>
                      <div class="col-12 col-lg-6 blog__item__content d-flex flex-column justify-content-between">
                        <div>
                          <h2>Название статьи</h2>
                          <p>Квалифицированные специалисты хотят иметь интересную работу, «продвинутое» рабочее место с возможностью профессионального и карьерного роста. </p>
                          <p>Главное, они хотят признания своего профессионализма от тех, кто может это оценить по-настоящему. </p>
                          <p>А бухгалтеру в небольшой компании приходится делать все самому – от обработки первички до сдачи отчетности. А здесь ничего интересного. Он быстро «выгорает» (посоветоваться не с кем, на семинары  денег не выделяют, сервисы не оплачивают).</p>
                        </div><a class="predlojenie__more" href="#"><span class="pr-3">Читать далее</span><img class="lazyload" data-src="images/Arrow.svg" alt="img"></a>
                        <div class="blog__item__date">22 сентября 15:45</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><img class="lazyload blog__img" data-src="images/Cup.png" alt="img"><img class="blog__img  lazyload" data-src="images/Clips.jpg" alt="img">
          </div>
        </div>
      </div>
    </div>
  </body>
  <div class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-header"><span>Оставьте заявку и мы с Вами свяжемся</span></div>
        <div class="modal-body">
          <form class="form">
            <input type="text" placeholder="Имя">
            <input class="my-4" type="tel" placeholder="Телефон">
            <div class="d-flex align-items-start justify-content-center py-3 pb-4">
              <label class="m-0">
                <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
              </label>
              <p class="form__info">Согласен с политикой <a class="form__info" href="#">конфиденциальности</a></p>
            </div>
            <div class="d-flex justify-content-center w-100">
              <button class="btn btn_bg_gradient btn__flare" type="submit">Записаться</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalVideo" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-body">
          <iframe width="100%" src="https://www.youtube.com/embed/wrkRliHHjFk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-to-top">
    <div class="btn-to-top__content d-flex justify-content-center align-items-center">
      <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
        <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
          <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)">
            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <footer class="footer">
    <div class="container content_pad_bot">
      <div class="row content_pad_top content_pad_bot  align-items-center">
        <div class="col-12 col-lg-3"><img class="lazyload img-fluid" data-src="images/white_logo.png" alt="img"></div>
        <div class="col-12 offset-lg-1 col-lg-5">
          <div class="footer__nav"><a class="footer__link" href="#">Что вы получите</a><a class="footer__link" href="#">Сколько стоит</a><a class="footer__link" href="#">Блог</a>
          </div>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-12 col-lg-3">
          <div class="d-flex flex-column"><a class="header__phone" href="tel:89191237781">8 919 123 77 81</a><a class="footer__description" href="mail:welcome@9buh.ru">welcome@9buh.ru</a></div>
        </div>
        <div class="col-12 offset-lg-1 col-lg-8">
          <div class="d-flex align-items-start footer_soc"><a class="social__link" href="#"><img class="lazyload" data-src="images/inst.svg"></a><a class="social__link" href="#"><img class="lazyload" data-src="images/fb.svg"></a><a class="social__link" href="#"><img class="lazyload" data-src="images/vk.svg"></a><a class="social__link" href="#"><img class="lazyload" data-src="images/telegram.svg"></a><a class="social__link" href="#"><img class="lazyload" data-src="images/youtube.svg"></a>
          </div>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-12 col-lg-3">
          <div><span class="footer__header">Офис в Москве</span>
            <p class="footer__description">Метро Фрунзенская, ул. 3-я Фрунзенская, 10</p>
          </div>
          <div class="pt-4 pb-3"><span class="footer__header">Офис в Челябинске</span>
            <p class="footer__description">Ул. Цвиллинга, 66а офис 302</p>
          </div>
          <div><a class="header__phone header__phone_s" href="tel:89191237781">8 919 123 77 81</a></div>
        </div>
        <div class="col-12 offset-lg-1 col-lg-8"><span class="footer__header">Документы и информация</span>
          <p>Политика конфиденциальности</p>
          <p>Правила обработки персональных данных</p>
          <p>Договор</p>
          <p>Страховой полис</p>
          <p>Согласно закону «О специальной оценке условий труда» № 426-ФЗ от 28.12.2013 г. СИСТЕМА провела специальную оценку условий труда.</p>
        </div>
      </div>
    </div>
    <div class="cookies">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Мы используем Cookies для сбора обезличенных персональных данных. Они помогают настраивать рекламу и анализировать трафик. Оставаясь на сайте, вы соглашаетесь на сбор таких данных. Вы можете ознакомиться с <a href="#">Политикой конфиденциальности и правилами обработки персональных данных.</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/main.min.js"></script>
</html>

source/html/blog.pug
extends base.pug
block content
	div(class="deep")
		div(class="blog content_pad_bot")
			div(class="container")
				div(class="row")
					div(class="col-12")
						img(class="lazyload d-none d-lg-block" data-src="images/blog.png" alt="img")
						h1(class="d-block d-lg-none")
							| Блог
				div(class="row")
					div(class="col-12")
						div(class="sort pt-3 pb-5")
							span(class="pr-2")
								| Сортировать по:
							div(class="custom__select m-2")
								select()
									option(value="0")
										|    Популярности
									option(value="1")
										|    Популярности
									option(value="2")
										|    Цене
				div(class="row")
					div(class="col-12")
						-for (var i = 0; i < 3; i++)
							div(class="blog__item mb-5")
								div(class="row")
									div(class="col-12 col-lg-6 blog__item__header")
										img(class="lazyload img-fluid" data-src="images/sdfasdf5.jpg" alt="img")
									div(class="col-12 col-lg-6 blog__item__content d-flex flex-column justify-content-between")
										div()
											h2
												| Название статьи
											p
												| Квалифицированные специалисты хотят иметь интересную работу, «продвинутое» рабочее место с возможностью профессионального и карьерного роста. 
											p
												| Главное, они хотят признания своего профессионализма от тех, кто может это оценить по-настоящему. 
											p
												| А бухгалтеру в небольшой компании приходится делать все самому – от обработки первички до сдачи отчетности. А здесь ничего интересного. Он быстро «выгорает» (посоветоваться не с кем, на семинары  денег не выделяют, сервисы не оплачивают).
										a(class="predlojenie__more" href="#")
											span(class="pr-3")
												| Читать далее
											img(class="lazyload" data-src="images/Arrow.svg" alt="img")
										div(class="blog__item__date")
											| 22 сентября 15:45
			img(class="lazyload blog__img" data-src="images/Cup.png" alt="img")
			img(class="blog__img  lazyload" data-src="images/Clips.jpg" alt="img")
